body{
    background-color: #808080;
}

.name1{
    width: 20px;
    height: 20px;
    background-color: #fea500;
    margin-bottom: 10px;
}

.name2{
    width: 20px;
    height: 20px;
    background-color: #fea500;
    margin-bottom: 10px;
}

.name3{
    width: 20px;
    height: 20px;
    background-color: #fea500;
    margin-bottom: 10px;
}

.name4{
    width: 20px;
    height: 20px;
    background-color: #fea500;
    margin-bottom: 10px;
}
